/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

/* common styles or utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}
.container {
  max-width: 1240px;
  margin: 0 auto 70px auto;
}
.primary-button {
  background: #e02c6d;
  border-radius: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: #e02c6d;
  padding: 10px 24px;
}
.primary-button p {
  margin: 0px;
  display: flex;
}
.btn-section {
  display: flex;
  justify-content: flex-end;
}
.btn-section a {
  text-decoration: none;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
  margin-top: 50px;
}
/* top banner styles */
.half-width {
  width: 50%;
}
.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-banner .banner-thumbnail img {
  width: 82%;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  transition: transform 1s;
}
.banner-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
}
.banner-detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
/* top banner styles end */
/* brands styles */
.brand {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.brand img {
  margin: 30px;
}
/* brands styles end */
/* popular collection styles */
.collection-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
}
.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.card {
  width: 350px;
  height: 476px;
  box-shadow: 5px 2px 10px gray;
}
.card-content {
  margin: 25px;
}
.card-img {
  width: 300px;
  height: 256px;
}
.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 0;
}
.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin: 6px 0;
}
.ratings span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #5e6366;
}
.ratings p {
  margin: 6px 0;
}
.card-detail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
  margin: 0;
}
/* popular collection styles end */
/* feature styles */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
}
.feature .feature-thumbnail img {
  width: 100%;
}
.feature-detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}
.feature-info {
  margin-left: 50px;
}
/* feature styles end*/
/* footer start */
footer {
  background-color: rgb(10, 8, 38);
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer {
  width: 262px;
  height: 139;
  text-align: center;
}
footer h2 {
  line-height: 36px;
}
footer p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
/* footer end */
/* Media Query */
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .top-banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .top-banner .banner-thumbnail img {
    width: 100%;
    background: none;
  }
  .brand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .brand img {
    margin: 10px auto;
  }
  .card-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 90%;
    padding: 10px;
  }
  .top-banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .brand, .card-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .feature {
    display: flex;
    flex-direction: column;
  }
}
